In [62]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_blobs
np.random.seed(3301)
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 50)

# Perfilamiento de datos.
Durante esta etapa inicial buscamos hacer un perfilamiento de datos para tener una mejor comprensión de los mismos.

In [63]:
# Ubicación de la base de datos
db_location = "BancAlpes_credit_card_data.csv"

# Leer los datos
df_bank = pd.read_csv(db_location, delimiter=";")

In [51]:
# Miramos el número de columnas y filas
df_bank.shape

(660, 11)

In [64]:
df_bank.head()

,Id,Customer,Limit_bal,Sex,Education,Marriage,Age,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
0,1,87073,20000,Female,2,Married,24,2,1,1,0
1,2,38414,120000,Female,2,Single,26,3,0,10,9
2,3,17341,90000,Female,2,Single,34,7,1,3,4
3,4,40496,50000,Female,2,Married,37,5,1,1,?
4,5,47437,50000,Male,2,Married,57,6,0,12,3

In [65]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   660 non-null    int64
 1   Customer             660 non-null    object
 2   Limit_bal            660 non-null    object
 3   Sex                  660 non-null    object
 4   Education            660 non-null    object
 5   Marriage             660 non-null    object
 6   Age                  660 non-null    object
 7   Total_Credit_Cards   660 non-null    object
 8   Total_visits_bank    660 non-null    object
 9   Total_visits_online  660 non-null    object
 10  Total_calls_made     660 non-null    object
dtypes: int64(1), object(10)
memory usage: 56.8+ KB

In [66]:
df_bank["Id"].nunique()

660

In [67]:
ids = df_bank.index[df_bank['Age'] == "-"].tolist()
print(ids)

[31]

In [68]:
# Buscamos las filas que tengan valores 
df_bank.loc[df_bank['Age'] == "-"]

,Id,Customer,Limit_bal,Sex,Education,Marriage,Age,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
31,32,-,-,-,-,-,-,-,-,-,-

In [61]:
df_bank = df_bank.drop(ids, axis=0)

KeyError: '[31] not found in axis'

In [58]:
df_bank["Age"] = df_bank["Age"].astype("int")

In [60]:
# Convirtamos todas las filas que correspondan a numéricas. 
numeric_rows = ["Customer", "Limit_bal", "Education", "Age", "Total_Credit_Cards", "Total_visits_bank", "Total_visits_online", "Totals_calls_made"]
for numeric_row in numeric_rows: 
    df_bank[numeric_row] = df_bank[numeric_row].astype("int")

ValueError: invalid literal for int() with base 10: '-'